<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Shree Mahavir Homeopathic Clinic</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/about resp.css">
</head>
<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="bg.jpg" alt="logo"></div>
            <h1 class="clinic-name">Shree Mahavir Homeopathic Clinic (Dr Sunil Jangada)</h1>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#about">About Homeopathy</a></li>
            <li class="item"><a href="contact">Contact us</a></li>
            <li class="item"><a href="diseases">Diseases</a></li>
            <li class="item"><a href="about">About Us</a></li>
        </ul>
        <div class="rightnav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div class="main">
        <img src="checkup.jpg" alt="">
        <div class="sub">
            <h1>About Us</h1>
            <p>With expertise from around the world, we lead the patient’s recovery journey by educating him about general precautions and preventive measures. Driven by the values of compassion, integrity, and ethical practices, we believe in providing healthcare that’s affordable as well as accessible to all. Our homeopathy treatment strategies are designed after thoroughly studying every minute detail about the patient, including age, occupation, prior illnesses, and living circumstances specific to that individual are also taken into account while treating a long-term disease. We truly abide by the phrase, "Homeopathy treats the patient but not the disease." After choosing the proper medication, the team of homeopathy doctors pays complete attention to determining the dosage, frequency, and potency that would produce the best results and accelerate healing in each case.</p>
        </div>
    </div>
    <div class="sec">
        <h1 class="why">Why Choose Shree Mahavir Homeopathy?</h1>
        <p>Shree Mahavir Homeopathy is expertise in the medicinal world; it is the leading Homeopathy Clinic in India; we have helped numerous patients from all over India with homeopathic treatment in our Homeopathy Clinic. And treat their chronic disorder without any side effects from their root cause. Homeopathic treatment is very safe, and their medicines contain natural and herbal substances. We don't prescribe generic medication to our patients. Instead, our doctors provide the best homeopathic-based treatment with proper guidance and a well-researched diet according to disease that can help patients. And also provides some facilities that cure patients physically and psychologically.</p>
    </div>
    <div class="box">
        <div class="box-1">
            <img src="zero-side-effects.png" alt="">
            <h2>Zero Side-Effects</h2>
            <p>Customized Medicines to suit every Patient's needs</p>
        </div>
        <div class="box-2">
            <img src="online-consultation.png" alt="">
            <h2>Online Consultation</h2>
            <p>Assistance is available through Video Calls and Messages</p>
        </div>
    </div>
    <footer class="background">
        <div class="text-footer">
            Copywrite &copy; 2030- www.ShreeMahavirHomeopathicClinic.com All rights are reserved
        </div>
    </footer>
    <script src="/responsive.js"></script>
</body>
</html>