<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseases</title>
    <link rel="stylesheet" href="/diseases.css">
    <link rel="stylesheet" href="/diseases resp.css">
</head>
<body>
    </nav>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="bg.jpg" alt="logo"></div>
            <h1 class="clinic-name">Shree Mahavir Homeopathic Clinic (Dr Sunil Jangada)</h1>
            <li class="item"><a href="/index2">Home</a></li>
            <li class="item"><a href="#about">About Homeopathy</a></li>
            <li class="item"><a href="contact">Contact us</a></li>
            <li class="item"><a href="diseases">Diseases</a></li>
            <li class="item"><a href="about">About Us</a></li>
        </ul>
        <div class="rightnav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div class="container">
        <h1>Our Treatments</h1>
        <p>Our Homeopathy is expertise in the medicinal world; it is the leading Homeopathy Clinic in India; we have helped numerous patients from all over India with homeopathic treatment in our Homeopathy Clinic. And treat their chronic disorder without any side effects from their root cause. Homeopathic treatment is very safe, and their medicines contain natural and herbal substances. We don't prescribe generic medication to our patients. Instead, our doctors provide the best homeopathic-based treatment with proper guidance and a well-researched diet according to disease that can help patients. And also provides some facilities that cure patients physically and psychologically.</p>
    </div>
    <div class="box">
        <div class="box1">
            <img src="icon-kidney-disease.png" alt="">
            <h2>Kidney Failure Treatment </h2>
            <p>Kidney failure is a condition when your kidneys lose its ability to function to filter waste from your blood. Kidneys are a pair of organs responsible for filtering your blood and removing toxins from your body.</p>
        </div>
        <div class="box1">
            <img src="icon-skin-desease.png" alt="">
            <h2>Skin Diseases Treatment </h2>
            <p>In Skin Diseases, most patients trust homeopathy for long-term treatment; its main aim is to cure the excess histamine releases, which is the primary root cause of skin diseases.</p>
        </div>
        <div class="box1">
            <img src="icon-varicocele-treatment.png" alt="">
            <h2>Varicoele Treatment </h2>
            <p>Varicocele refers to the abnormal dilation and enlargement of veins inside the scrotum, a skin pouch holding testicles. The left side of the scrotum is where varicoceles typically appear.</p>
        </div>
        <div class="box1">
            <img src="icon-male-infertility.png" alt="">
            <h2>Male Infertility Treatment </h2>
            <p>It is a significant problem that any man can face in life; it's not a disease. It is the result of some hormonal imbalance due to an unhealthy lifestyle. In this disorder.</p>
        </div>
    </div>
    <div class="sec-box">
        <div class="box1">
            <img src="icon-liver-treatment.png" alt="">
            <h2>Liver Treatment </h2>
            <p>The liver is an essential organ that breaks down food, cleanses the body, and synthesises essential proteins. It frequently cleanses the body's toxic substances by disintegrating them into smaller byproducts.</p>
        </div>
        <div class="box1">
            <img src="icon-vitiligo-treatment.png" alt="">
            <h2>Vitiligo Treatment </h2>
            <p>Vitiligo, commonly known as leukoderma, is an auto-immune disorder where the immune system starts to affect and damage the active cells of the body.</p>
        </div>
        <div class="box1">
            <img src="icon-respiratory-diseases.png" alt="">
            <h2> Respiratory Diseases </h2>
            <p>Respiratory diseases typically affect the respiratory system of the human body. These diseases can affect the life of patients physically or psychologically. The reason for these diseases is varied countries to country.</p>
        </div>
    </div>
    <footer class="background">
        <div class="text-footer">
            Copywrite &copy; 2030- www.ShreeMahavirHomeopathicClinic.com All rights are reserved
        </div>
    </footer>
    <script src="/responsive.js"></script>
</body>
</html>