<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shree Mahavir Homeopathic Clinic</title>
    {{!-- <link rel="stylesheet" href="main.css"> --}}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 29%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}

.clinic-name {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 80%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 20%;
    /* background-color: violet; */
    text-align: right;
    padding: 0 23px;
}

#search {
    padding: 2px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 3px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../homeopathic.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 75%;
    border: 4px solid white;
    border-radius: 190px;
    display: block;
    margin: auto;
    height: 151px;
}

.notice {
    color: rgb(4, 5, 5);
    font-size: 35px;
}

.big-text {
    font-size: 41px;
    /* color: rgb(5, 105, 105);; */
}

.small-text {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-dark {
    color: black;
    border: 2px solid grey;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.section {
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.section-left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.secTag {
    padding: 16px 0;
}

.secSubTag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img {
    width: 200px;
    height: 215px;
}

.contact {
    background-color: rgb(236, 232, 227);
    height: 833px;
    /* width: 100%; */
}

.text-center {
    text-align: center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.form {
    max-width: 62%;
    margin: 25px auto;
}

.form-input {
    margin: 14px 0;
    padding: 3px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer {
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    padding: 2px;
    background-color: white;
    margin: 5px 3px;
}

.post-ratings-container {
    display: flex;
    justify-content: end;
    padding: 3px 25px;
}

.post-rating {
    display: flex;
    align-items: center;
    cursor: default;
}

.post-rating:not(:last-child) {
    margin-right: 12px;
}

.post-rating-selected>.post-rating-button,
.post-rating-selected>.post-rating-count {
    color: #009578;
}

.post-rating-button {
    margin-right: 6px;
    cursor: pointer;
    color: #555555;
}

.post-rating:not(.post-rating-selected)>.post-rating-button:hover {
    color: #000000;
}

.rate {
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

.loc-background {
    background-color: rgb(207, 224, 232);
    height: 370px;
    display: flex;
    flex-direction: row;
}

.name {
    padding: 10px;
    margin: 30px;
}

.location {
    font-size: 27px;
    /* padding: 5px; */
}

.address {
    margin: 30px;
}

.city {
    margin: 30px;
}

.area {
    margin: 30px;
}

.contact-no{
    margin: 30px;
}

.map {
    padding: 40px;
}

iframe {
    height: 300px;
    width: 550px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/.5);
    display: none;
}

.visible {
    display: block;
}

.modal2 {
    background-color: white;
    padding: 1.5rem;
    text-align: left;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0/.1), 0 8px 10px -6px rgb(0 0 0 /.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    max-width: 400px;
    font-weight: 400;
}

.modal2 p {
    color: rgb(0 0 0/.7);
}

.modal2 h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 0.5rem;
}

.informed {
    background-color: rgb(219 234 254 /.6);
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 0.375rem;
    color: rgb(30 58 138/1);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.informed:hover {
    background-color: rgb(219 234 254 /1);
}

@media only screen and (max-width:1200px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        /* height: 400px;  */
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        width: 100%;
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        /* padding: 150px; */
    }
    #serach{
        width: 100%;
    }

    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column;
    }
    .small-text{
        text-align: center;
    }
    .big-text{
        text-align: center;
    }
    .btn{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
}
@media only screen and (max-width:1400px) {
    .loc-background {
        height: 680px;
        flex-direction: column;
    }
    .contact-info{
        text-align: center;
        align-items: center;
    }
    .map{
        text-align: center;
    }
}

@media only screen and (max-width:730px){
    .loc-background {
        width: 100%;
        height: 100%;
    }
    .location {
        font-size: 20px;
    }
    .map{
        text-align: center;
    }
    iframe{
        height: 250px;
        width: 350px;
    }
}

    </style>
    <link rel="stylesheet" type="text/css" href="responsive.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="/img/bg.jpg" alt="logo"></div>
            <h1 class="clinic-name">Shree Mahavir Homeopathic Clinic (Dr Sunil Jangada)</h1>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#about">About Homeopathy</a></li>
            <li class="item"><a href="contact">Contact us</a></li>
            <li class="item"><a href="diseases">Diseases</a></li>
            <li class="item"><a href="about">About Us</a></li>
        </ul>
        <div class="rightnav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstSection">
        <div class="box-main">
            <div class="firsthalf">
                <p class="big-text">The Benefits of Homeopathy is Here</p>
                <p class="small-text">Homeopathy does not view an illness as just a collection of symptoms, but rather a
                    reaction to a unique patient's situation. Homeopathy treats all symptoms experienced by a patient
                    including those that are “spiritual, emotional, mental and physical.”</p>
                <div class="buttons">
                    <button class="btn">Follow Us</button>
                    <button class="btn">Watch Video</button>

                </div>
            </div>
            <div class="secondhalf">
                <img src="ar.jpg" alt="">
            </div>
        </div>
    </section>
    <marquee behavior="" direction="left">
        <div class="notice">
            *Saturday Close*&nbsp;&nbsp;&nbsp;
            *Monday To Friday Time:&nbsp; 5:00 pm To 9:00 pm* &nbsp;&nbsp;&nbsp;
            [Sunday Time:&nbsp; 9:00 am to 9:00 pm]
        </div>
    </marquee>

    <section class="section" id="about">
        <div class="paras">
            <p class="secTag big-text">History Of Homeopathy</p>
            <p class="secSubTag small-text">Homeopathy or homoeopathy is a pseudoscientific system of alternative
                medicine. It was conceived in 1796 by the German physician Samuel Hahnemann. Its practitioners, called
                homeopaths or homeopathic physicians, believe that a substance that causes symptoms of a disease in
                healthy people can cure similar symptoms in sick people; this doctrine is called similia similibus
                curentur, or "like cures like". Homeopathic preparations are termed remedies and are made using
                homeopathic dilution. In this process, the selected substance is repeatedly diluted until the final
                product is chemically indistinguishable from the diluent.
            </p>
        </div>
        <div class="thubnail">
            <img src="history.jpeg" alt="founder of Homeopathy">
        </div>
    </section>
    <section class="section section-left">
        <div class="paras">
            <p class="secTag big-text">What is Homeopathy</p>
            <p class="secSubTag small-text">Homeopathy or homoeopathy is a pseudoscientific system of alternative
                medicine. It was conceived in 1796 by the German physician Samuel Hahnemann. Its practitioners, called
                homeopaths or homeopathic physicians, believe that a substance that causes symptoms of a disease in
                healthy people can cure similar symptoms in sick people; this doctrine is called similia similibus
                curentur, or "like cures like". Homeopathic preparations are termed remedies and are made using
                homeopathic dilution. In this process, the selected substance is repeatedly diluted until the final
                product is chemically indistinguishable from the diluent.</p>
        </div>
        <div class="thubnail">
            <!-- <h3>Watch Video</h3> -->
            <iframe width="200" height="150" src="https://www.youtube.com/embed/3SnmIx7SC8M?si=NY3CzrRs29jZz8zA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </section>
    <section class="section">
        <div class="paras">
            <p class="secTag big-text">Preparations And Treatment of Homeopathy</p>
            <p class="secSubTag small-text">Homeopathic preparations are referred to as "homeopathic
                remedies".Practitioners rely on two types of reference when prescribing: Materia medica and repertories.
                A homeopathic materia medica is a collection of "drug pictures", organized alphabetically. A homeopathic
                repertory is a quick reference version of the materia medica that indexes the symptoms and then the
                associated remedies for each. In both cases different compilers may dispute particular inclusions in the
                references. This version was less focused on disease categories and was the forerunner to later works by
                James Tyler Kent. There are over 118 repertories published in English, with Kent's being one of the most
                used.
        </div>
        <div class="thumbnail">
            <img src="book.JPG" alt="Preparations And Treatment of Homeopathy">
        </div>
    </section>
    <div class="loc-background">
        <div class="contact-info">

            <h2 class="name">
                Shree Mahavir Homeopathic Clinic Contact Number and Address
            </h2>
            <div class="location">
                <div class="address">
                    <span class="material-icons">
                        place
                    </span>
                    <b>Address:</b>
                    Shani Chowk,Bajar Peth,Lasalgoan,Nashik,422306
                </div>
                <div class="city">
                    <span class="material-icons">
                        place
                    </span>
                    <b>City:</b>
                    Lasalgoan
                </div>
                <div class="area">
                    <span class="material-icons">
                        place
                    </span>
                    <b>Area:</b>
                    Lasalgoan
                </div>
                <div class="contact-no">
                    <span class="material-icons">
                        phone
                    </span>
                    <b>Contact:</b>
                    +91 9423079661, +91 02550 268661
                </div>
            </div>
        </div>
        <div class="map">
            {{!-- <iframe --}}
                {{!-- src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.7775433499583!2d74.23672887500632!3d20.14332628129366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdc32dda53fe449%3A0x13c89611e28206e5!2sDr.%20jangada&#39;s%20Shree%20Mahavir%20Homoeopathic%20Clinic!5e0!3m2!1sen!2sin!4v1709237606630!5m2!1sen!2sin"
                width="480" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> --}}
        </div>
    </div>

    <div class="post" data-post-id="7712">
        <div class="post-ratings-container">
            <div class="rate">
                <h4>Rate Us</h4>
            </div>
            <div class="post-rating">
                <span class="post-rating-button material-icons">thumb_up</span>
                <span class="post-rating-count">0</span>
            </div>
            <div class="post-rating">
                <span class="post-rating-button material-icons">thumb_down</span>
                <span class="post-rating-count">0</span>
            </div>
        </div>
    </div>
    <footer class="background">
        <div class="text-footer">
            Copywrite &copy; 2030- www.ShreeMahavirHomeopathicClinic.com All rights are reserved
        </div>
    </footer>
    <script >burger = document.querySelector('.burger')
navbar = document.querySelector('.navbar')
navList = document.querySelector('.nav-list')
rightnav = document.querySelector('.rightnav')

burger.addEventListener('click', ()=>{
    rightnav.classList.toggle('v-class-resp');
    navList.classList.toggle('v-class-resp');
    navbar.classList.toggle('h-nav-resp');
})
document.querySelectorAll(".post").forEach(post => {
	const postId = post.dataset.postId;
	const ratings = post.querySelectorAll(".post-rating");
	const likeRating = ratings[0];

	ratings.forEach(rating => {
		const button = rating.querySelector(".post-rating-button");
		const count = rating.querySelector(".post-rating-count");

		button.addEventListener("click", async () => {
			if (rating.classList.contains("post-rating-selected")) {
				return;
			}

			count.textContent = Number(count.textContent) + 1;

			ratings.forEach(rating => {
				if (rating.classList.contains("post-rating-selected")) {
					const count = rating.querySelector(".post-rating-count");

					count.textContent = Math.max(0, Number(count.textContent) - 1);
					rating.classList.remove("post-rating-selected");
				}
			});

			rating.classList.add("post-rating-selected");

			const likeOrDislike = likeRating === rating ? "like" : "dislike";
			const response = await fetch(`/posts/${postId}/${likeOrDislike}`);
			const body = await response.json();
		});
	});
});


const openModalButtons = document.querySelectorAll('.btn-dark'), modal = document.querySelector('.backdrop'),
    closeModalButtons = document.querySelectorAll('.informed');

    openModalButtons.forEach(openbtn => {
        openbtn.addEventListener('click', openModal)
    });

    closeModalButtons.forEach(closebtn => {
        closebtn.addEventListener('click', closeModal)
    });
    function openModal() {
        modal.classList.add('visible');
    }

    function closeModal() {
        modal.classList.remove('visible');
    }
    </script>
    <script src="./app.js"></script>
</body>

</html>